* {
  --branco: #fff;
  --preto: #000;
  --vermelho-forte: #c80003;
  --verde-claro: #a6c64c;

  --montserrat: 'Montserrat', sans-serif;
  --lato: 'Lato', sans-serif;

  margin: 0;
  padding: 0;
}

body {
  font-family: var(--lato);
}

.container {
  padding-left: 16vw;
  padding-right: 16vw;
}

/* Cabeçalho */

header {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;

  background-color: var(--verde-claro);
  color: var(--vermelho-forte);
  font-family: var(--montserrat);

  display: flex;
  align-items: center;
  justify-content: space-between;
}

header nav ul {
  display: flex;
}

header nav li {
  margin-left: 10px;
}

header nav a {
  text-transform: uppercase;
  font-size: 1.1rem;

  margin-right: 0.7rem;
  margin-bottom: 1.25rem;
  margin-left: 0.7rem;
}

.mainTitulo {
  font-size: 2rem;
}

.subTitulo {
  font-size: 1.25rem;
}

/* Chamada */

.chamada {
  display: flex;
  flex-direction: column;
  align-items: center;

  color: var(--preto);
  text-align: center;

  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.chamada h1 {
  font-size: 2rem;
  padding-bottom: 0.5rem;
}

/* Sobre */

.sobre {
  padding: 3em 0;
  background: #fefefe;
  width: 98%;
  margin: 0 auto;
}

.sobre p {
  vertical-align: center;
}

.sobreFoto {
  width: 150px;
  float: left;
  margin: 0 20px 20px 0;
  border-radius: 100%;
}

.sobre p {
  text-align: left;
}

/* Formação */

.formacao ul {
  width: 98%;
  font-weight: bold;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 1%;
  margin-bottom: 1%;
}

.formacaoColegio {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 8rem;
  width: 45%;
  border: 2px solid var(--verde-claro);
  border-radius: 15px;

  padding: 10px;
  margin-bottom: 1%;
}

.formacaoColegio:nth-child(2n) {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.formacaoLogo {
  width: 6rem;
}

.containerFormacao {
  display: flex;
  flex-direction: column;
  margin-left: 1%;
}

.containerFormacao:nth-child(2n) {
  padding-right: 1%;
}

.formacaoColegio:nth-child(2n) .formacaoLogo {
  float: right;
}

.formacaoColegio:nth-child(2n + 1) .formacaoLogo {
  float: left;
}

.formacaoColegio:nth-child(2n) p {
  text-align: right;
}
